body {
    margin: 0;
    font-family: Calibri, sans-serif;
    color: #64a16d;
}

header {
    padding: 25px;
    text-align: center;
    background: #70ff4d;
    color: #ffffff;
}

nav {
    padding: 10px;
    text-align: center;
    background: #3d94aa;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

article {
    padding: 30px;
    border-top: 3px solid #6cf767;
    border-bottom: 3px solid #6cf767;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

ul {

    padding: 4;
}

h2 {
    color: #106fae;
    text-align: center;
}

h3 {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #106fae;
    text-align: center;
}

footer {
    padding: 5px;
    text-align: center;
    background: #c03434;
    font-size: 10px;
}